https://github.com/autosportlabs/ihexpy/archive/master.zip
dependencies/asl_f4_loader-0.0.7.tar.gz
kivy==1.9.1
cython==0.23
Kivy-Garden==0.1.1
pyserial==3.0
requests==2.2.1
wsgiref==0.1.2
pygments==2.0.2
mock==1.3.0
raven==5.5.0
